.Navbar{
    background-color: #153f65;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#list-element{
    list-style: none;
    background-color: #03131f;
    border: solid 5px #70bdf2;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 25px;
    font-size: x-large;
    font-weight: 600;
    cursor: pointer;
}
.offcanvas-header{
    background-color: #03131f;
    color: #70bdf2;
}
#offcanvasRightLabel{
    font-size: xx-large;
    font-weight: 600;
}
#offcanvas-body{
    background-color: #153f65;
    color: #70bdf2;
}
/* 
###########COLORS###########
Shade 1 : #edf4fe
Shade 2 : #c1e3ff
Shade 3 : #70bdf2
Shade 4 : #153f65
Shade 5 : #03131f
*/