.Navbar{
    background-color: #153f65;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
/* 
###########COLORS###########
Shade 1 : #edf4fe
Shade 2 : #c1e3ff
Shade 3 : #70bdf2
Shade 4 : #153f65
Shade 5 : #03131f
*/